main {
    border: 1px solid red;
}

div{
    border: 5px solid orange;
    font-size: 40px;
    margin: 5px;
}

.caixa{
    margin:auto;
    display: flex;
    height: 300px;
    width: 600px;
}

.caixa div{
   width: 100px;
   flex-grow: 1;
   
}

.caixa div:nth-child(3){
    background-color: #74cd7b;

}