table{
    border: 1px solid rgba(0, 0, 0, 0.446);
}
*{
    padding: 0;
    margin: 0;
}
#header{
    background-color: rgb(48, 48, 186);
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
}

#d1{
background-color: rgb(168, 218, 168);
border: 18px solid black;
width: 200px;
height: 200px;
}

#d2{
background-color: red;
border: 10px solid black;
width: 200px;
height: 200px;
margin-left: 218px;

}

#d3{
background-color: yellow;
border: 10px solid black ;
width: 200px;
height: 200px;
margin-left: 436px;

}

main{
    padding-top: 100px;
}

#img-1{
    width: 142px;
}

#img-2{
    width: 300px;
}

#img-3{
    width: 300px;
}