table{
    border: 1px solid rgba(0, 0, 0, 0.446);
}
*{
    padding: 0;
    margin: 0;
}
#header{
    background-color: rgb(48, 48, 186);
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
}

#d1{
background-color: rgb(168, 218, 168);
border: 5px solid black;
width: 200px;
height: 200px;
display: inline-block;
position: relative;
margin-left: 10px;
}

#d2{
display: inline-block;
background-color: red;
border: 5px solid black;
width: 200px;
height: 200px;

}

#d3{
display: inline-block;
background-color: yellow;
border: 5px solid black ;
width: 200px;
height: 200px;

}

#container{
    width: 645px;
    margin-left: 10px;
    height: 400px;
    background-color: grey;
    border: 2px solid black;
    position: relative;
}
#d4{
    display: inline-block;
    background-color: #00e1ff;
    width: 200px;
    height: 200px;
    position: absolute;

    
    }

#img-1{
    width: 142px;
}

#img-2{
    width: 300px;
}

#img-3{
    width: 300px;
}